/* #38bebc - green */
/* #00aeef - blue */
/* #ec276d - red */

/* body */

body,
html {
  font-family: "Quicksand", sans-serif;
}

/* logo */

.logoPic {
  /* border: 2px solid black; */
  /* width: 50px; */
  /* height: auto; */
  width: 30%;
  margin-left: 10%;
}

/* navBar */

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* border: 2px solid black; */
  width: 100%;
  border-top: 55px solid #313131;
  margin-bottom: -2%;
  margin-top: -5%;
}

.border1 {
  border-bottom: 10px solid #ec276d;
  opacity: 15%;
  width: 100%;
}

.border2 {
  opacity: 25%;
  border-bottom: 10px solid #00aeef;
  width: 100%;
}

.border3 {
  opacity: 40%;
  border-bottom: 10px solid #38bebc;
  width: 100%;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.8em;
  margin-top: 7%;
  margin-right: 10%;
  margin-left: 10%;
  width: 65%;
  height: 3vh;
  /* border: 2px solid black; */
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: #38bebc;
  /* background-color: #f4511e; */
  border: none;
  color: #38bebc;
  /* padding: 16px 32px; */
  text-align: center;
  font-size: 2rem;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
}

/* carousel */

.pic1 {
  width: 100%;
}

.pic-ctn {
  width: 100%;
  height: 500px;
  background-image: url("DaytonArcadesAndMore_05_web.jpg");
  background-repeat: no-repeat;
  /* margin-bottom: 20%; */
  background-size: cover;
  padding-bottom: 13%;
}

@keyframes display {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}

.pic-ctn {
  position: relative;
  width: 100%;
  height: 70vh;
  /* margin-top: 5vh; */
}

.pic-ctn > img {
  position: absolute;
  top: 15%;
  left: calc(30% - 100px);
  opacity: 0;
  animation: display 10s infinite;
}

img:nth-child(2) {
  animation-delay: 2s;
}
img:nth-child(3) {
  animation-delay: 4s;
}
img:nth-child(4) {
  animation-delay: 6s;
}
img:nth-child(5) {
  animation-delay: 8s;
}

/* Background Pic */

/* .carouselBackground {
 
} */

/* Game Coming Soon */
.comingSoonFlex {
  display: flex;
  flex-direction: row;
  /* margin-left: 4%; */
  margin-top: -10%;
  /* border: 2px solid black; */
  width: 100%;
}

.gameComingSoon {
  margin-top: 3%;
  width: 100%;
  /* border: 2px solid black; */
}

.comingSoonH1 {
  /* border: 2px solid black; */
  width: 100%;
  text-align: center;
  font-size: 6rem;
  margin-right: -30%;
  margin-top: 20%;
}

.comingSoonH2 {
  /* border: 2px solid black; */
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  /* margin-left: 2%; */
  font-weight: initial;
}

.comingSoonText {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 20%;
  margin-left: 1%;
  margin-right: 33%;
  width: 100%;
  /* border: 2px solid black; */
}

/* Story elements */

.EnthusiastsH1 {
  /* margin-top: 10%; */
  background-color: #00aeef;
  padding-top: 8%;
  padding-bottom: 8%;
  font-size: 4rem;
  text-align: center;
  width: 100%;
}

.EnthusiastsH2 {
  text-align: center;
  margin-top: 12%;
  width: 100%;

  /* border: 2px solid black; */
}

.ExperienceH1 {
  margin-top: 10%;
  background-color: #38bebc;
  padding-top: 8%;
  padding-bottom: 8%;
  font-size: 4rem;
  text-align: center;
  width: 100%;
}

.ExperienceH2 {
  text-align: center;
  margin-top: 12%;
  width: 100%;
}

.FutureH1 {
  margin-top: 10%;
  background-color: #ec276d;
  padding-top: 8%;
  padding-bottom: 8%;
  font-size: 4rem;
  text-align: center;
  width: 100%;
}

.FutureH2 {
  text-align: center;
  margin-top: 8%;
  width: 80%;
  margin-left: 10%;
}

/* Lyla Photo & Emojis */

.Lyla {
  width: 100%;
  /* border: 2px solid black; */
  /* margin-left: %; */
  margin-bottom: 5%;
}

.monsterEmoji {
  /* border: 2px solid black; */
  height: 20vh;
  font-size: 10rem;
  margin-top: 3%;
}

.LylaAndEmojis {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* border: 2px solid black; */
  margin-top: 8%;
}

/* Contact/COA */

.contactCOA {
  display: flex;
  flex-direction: column;
  align-content: center;
  /* border: 2px solid black; */
}

.logoBottom {
  /* border: 2px solid black; */
  margin-left: -5%;
  width: 100%;
  text-align: center;
}

.ContactH1 {
  margin-top: 25%;
  text-align: center;
  /* border: 2px solid black;*/
}

/* navBar Bottom */

.navBarBottom {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* border: 2px solid black; */
  font-size: 1.8em;
  margin-top: 8%;
  /* margin-right: 20%;
  margin-left: 10%; */
  height: 3vh;
  background-color: #313131;
  padding: 5%;
}

.link2 {
  color: white;
}

/* Social Icons */

.socialIcons {
  text-align: center;
  display: flex;
  justify-content: space-around;
  width: 30%;
  margin-left: 32.2%;
  padding: 3%;
}

/* About */

.aboutCoverImg {
  width: 100%;
  margin-top: 3%;
}

.WhoWeAre {
  text-align: center;
  font-size: 4rem;
}

.WhoWeAreP {
  text-align: center;
}

/* Sales */

.SalesH1 {
  text-align: center;
  font-size: 4rem;
}

.SalesP {
  text-align: center;
}

.currentSalesH1 {
  margin-top: 10%;
  background-color: #ec276d;
  padding: 8%;
  font-size: 4rem;
  text-align: center;
  margin-bottom: -5%;
}

.fb-post {
  /* margin-left: 20%; */
  margin-top: 5%;
  width: 100%;
  background-image: url("DaytonArcadesAndMore_05_web.jpg");
  background-repeat: no-repeat;
  margin-bottom: -3%;
  background-size: cover;
  padding-bottom: 13%;
  /* border: 2px solid black; */
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

/* Contact */

.ContactH1 {
  text-align: center;
  font-size: 4rem;
  margin-top: 2%;
}

.ContactP {
  text-align: center;
}

/* Services */

.ServicesH1 {
  text-align: center;
  font-size: 4rem;
}

.ServicesP {
  text-align: center;
}

.ServicesH2 {
  text-align: center;
}

.servicesList {
  text-align: left;
}

.servicesUL {
  margin-left: 38%;
}

/* footer */

footer {
  text-align: center;
  margin-bottom: 3%;
}
